.uniqueWhyUsSection {
  text-align: center;
  padding: 20px;

  margin-top: 90px;
}

.uniqueCardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.uniqueWhyUsSection h2,
h3,
p {
  color: black;
}

.uniqueFeatureCard {
  background-color: white;
  border-radius: 18px;
  
  padding: 20px;
  text-align: center;

  margin: 10px;
  width: 360px;
  height: 228px;
  border: 1px solid #bcbcc3;
}

.uniqueIcon {
  font-size: 3rem;
  margin-bottom: 10px;
}

.uniqueTitle {
  font-size: 24px;
  line-height: 36px;
}

.uniqueDescription {
  font-size: 18px;
  color: #666;
  line-height: 27px;
}
